<section class="section-products">
  <div class="products-container">
    <h2 class="section-title1">
      OUR
      <span class="section-title2">PRODUCTS</span>
    </h2>

    <div class="slide-container">
      <ul class="products-list">
        <li class="products-title">
          <img class="products-item" src="./images/orange-chocolate.jpg" alt="" width="230px" height="201px">
          <div class="products-content">
            <h3 class="products-content-name">ORANGE</h3>
            <p class="products-content-text">Dark chocolate</p>
          </div>
          <button class="products-price" type="button">45 UAH</button>
        </li>
        <li class="products-title">
          <img class="products-item" src="./images/apple&cranberry-chocolate.jpg" alt="" width="230px" height="201px">
          <div class="products-content">
            <h3 class="products-content-name">APPLE&CRANBERRY</h3>
            <p class="products-content-text">Milk chocolate</p>
          </div>
          <button class="products-price" type="button">50 UAH</button>
        </li>
        <li class="products-title">
          <img class="products-item" src="./images/lime&seasalt-chocolate.jpg" alt="" width="230px" height="201px">
          <div class="products-content">
            <h3 class="products-content-name">ORANGE</h3>
            <p class="products-content-text">Dark chocolate</p>
          </div>
          <button class="products-price" type="button">45 UAH</button>
        </li>
        <li class="products-title">
          <img class="products-item" src="./images/pineapple-chocolate.jpg" alt="" width="230px" height="201px">
          <div class="products-content">
            <h3 class="products-content-name">PINEAPPLE</h3>
            <p class="products-content-text">Dark chocolate</p>
          </div>
          <button class="products-price" type="button">54 UAH</button>
        </li>
      </ul>
    </div>
  </div>
</section>