<section class="section-products">
  <div class="products-container">
    <h2 class="section-title1">OUR
      <span class="section-title2">PRODUCTS</span>
    </h2>
    <div class="slide-container">
      <div class="products-image">
        <img src="./images/orange-chocolate.jpg" alt="orange chocolate" width="230px" height="201px">
          <ul class="products-list">
            <li class="products-title">
              <h3 class="products-name">ORANGE</h3>
              <p class="products-text">Dark chocolate</p>
            </li>
          </ul>
      </div>
      <button class="products-price">45 UAH</button>
    </div>
  </div>
</section>