<section class="section subscribe-section">
  <div class="container subscribe-container">
    <p class="section-title title">EXPLORE OUR NEW CHOCOLATE FIRST</p>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button type="button" class="subscribe-button button" data-modal-open>
      Subscribe
    </button>
  </div>
</section>
<div class="backdrop subscribe-is-hidden" subscribe-data-modal>
  <div class="subscribe-modal">
    <div class="subscribe-master">
      <button type="button" class="subscribe-modal-close" data-modal-close>
        <svg class="subscribe-close-icon">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="subscribe-boss">
      <p class="subscribe-pop-text">Explore our</p>
      <p class="subscribe-pop-text">
        <span class="subscribe-orange-text">new chocolate </span> first!
      </p>
      <form class="subscribe-form">
        <label class="subscribe-label">
          <input
            class="subscribe-form-input"
            type="email"
            name="email"
            required
            placeholder="Enter your email"
          />
        </label>
        <button type="button" class="subscribe-btn-sub">Submit</button>
      </form>
    </div>
  </div>
</div>
