<section id="sellers" class="section">
  <div class="container">
    <h2 class="title"><span class="title-decor">Top </span>Sellers</h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <picture>
          <source
            srcset="
              ./images/coffe-nuts-mobile.webp    1x,
              ./images/coffe-nuts-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/coffe-nuts-tablet.webp    1x,
              ./images/coffe-nuts-tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/coffe-nuts-desktop.webp    1x,
              ./images/coffe-nuts-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="sellers-img"
            src="./images/coffe-nuts.jpg"
            alt="Chocolate with coffe and nuts"
            width="368"
            height="464"
            loading="lazy"
          />
        </picture>
        <p class="sellers-text sellers-item-content">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <picture>
          <source
            srcset="
              ./images/chokolate-fruit-mobile.webp    1x,
              ./images/chokolate-fruit-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/chokolate-fruit-tablet.webp    1x,
              ./images/chokolate-fruit-tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/chokolate-fruit-desktop.webp    1x,
              ./images/chokolate-fruit-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="sellers-img"
            src="./images/chokolate-fruit.jpg"
            alt="Chocolate with fruit"
            width="368"
            height="464"
            loading="lazy"
          />
        </picture>
        <button
          type="button"
          class="sellers-button sellers-item-content js-open-modal primary-button"
          data-modal="1"
        >
          Buy now
        </button>
      </li>
      <li class="sellers-item">
        <picture>
          <source
            srcset="
              ./images/chokolate-desktop.webp    1x,
              ./images/chokolate-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="sellers-img"
            src="./images/chokolate.jpg"
            alt="Different chocolate"
            width="368"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <div class="sellers-box">
      <p class="sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        type="button"
        class="sellers-button js-open-modal primary-button"
        data-modal="1"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
